main{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;    
}

#content-main{
    display: inline-flex;
    gap: 100px;
    flex-wrap: wrap;
    margin-top: 5%;
    justify-content: start;
}


#Emnu {
    font-size: 32px;
    width: 100%;
}
.content-img-and-text{
    display: grid;
    justify-items: center;
}

.text-content{
    text-align: center;
}

button{
    padding: 10px;
    width: 110px;
    border-radius: 25px;
    background: wheat;
    font-size: medium;
    transition: all 0.6s ease-in-out;
    
}

button:hover{
    font-size: x-large;
    font-weight: bold;
    color: white;
    background-color: black;
    transition: all 0.6s ease-in-out;
}

h2{
    margin: 10px;
    border: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 5px;
    font-size: xx-large;
}


#categories-menu ul li a{
    font-size: xx-large;
    padding: 10px;
    border-bottom: 5px solid black;
    color: black;
    transition: all 0.6s ease-in-out;
}

#categories-menu ul{
    justify-content: center;
    align-items: center;
}

#categories-menu{
    text-align: center;
    margin-top: 2%;
}

#categories-menu ul li a:hover{
    font-size: 45px;
    border: 1px solid wheat;
    box-shadow: inset 0px 0px 10px 5px wheat;
    transition: all 0.6s ease-in-out;
}