header{
    height: 800px;
    box-shadow: inset 0px 2px 25px 0px black;
    background-image: url(https://cdn.culture.ru/images/b53d8280-9449-5ea2-a380-969d4fb798d1);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: end;
    color: white;
    padding-right: 80px;
}

.text-header{
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid rgb(255, 186, 57);
    padding: 25px;
    background-color: rgba(255, 166, 0, 0.411);
    box-shadow: inset 0px 0px 8px 4px wheat;
    border-radius: 45px;
    font-size: xx-large;
    text-align: center;
}