.reg__overlay,
.reg__overlay-mini {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
}

.reg__overlay.active,
.reg__overlay-mini.active {
    opacity: 1;
    visibility: visible;   
}

.reg__overlay.active {
    opacity: 1;
    visibility: visible;
}

.reg {
    width: 603px;
    height: 739px;
    border-radius: 45px;
    background: #FFBB68;
    box-shadow: 0px 4px 11px 12px rgba(0, 0, 0, 0.43);
    padding: 30px 0;
}

.reg.mini {
    height: 418px;
    z-index: 99999;   
    position: fixed;
}

.back {
    background-color: #BC0000;
    border-radius: 40px;
    width: 100px;
    height: 40px;
    color: #FFF;
    border: 0;
    cursor: pointer;
    font-size: 24px;
    font-family: Impact;
}

.reg__text {
    color: #FFF9F9;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Inter', sans-serif;
    font-size: 64px;
    font-weight: 700;
    text-transform: uppercase;
    max-height: 77px;
    margin-bottom: 20px;
    text-align: center;
}

#form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    height: 60vmin;
}

#form.mini {
    height: 25vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    gap: 25px;
}

.form input {
    width: 421px;
    height: 61px;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 0;
    text-align: left;
    font-family: Tillana;
    font-size: 28.8px;
    font-weight: 700;
    padding-left: 35px;
}

::-webkit-input-placeholder {
    color: #666;
}

.buttons {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.back {
    margin-right: 20px;
}

.back,
.back__mini,
.buttons input {
    width: 227px;
    height: 46px;
    border-radius: 30px;
    background: #BC0000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 0;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    font-family: Tillana;
    font-size: 28.8px;
    font-weight: 700;
}

.back__mini {
    margin-right: 20px;
}

.text {
    width: 100%;
    text-align: center;
}

#link {
    text-decoration: none;
    cursor: pointer;
}

#link,
.text {
    color: #000;
    text-align: center;
    font-family: Tillana;
    font-size: 20px;
    font-weight: 700;
}
    
#link:hover {
    color: blue;
    text-decoration: underline;
}

#select {
    position: absolute;
    bottom: 8px;
    left: 20px;
    background-color: #BC0000;
    border: 0;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
}
