*, 
*:after, 
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1520px;
    margin: 0 auto;
}

body {
    background: #F6D79D;
}

.header {
    margin-bottom: 150px;
}

.title {
    font-family: 'Tillana', serif;
    color: #000;
    text-align: center;
    font-size: 76px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 50px;
}

.items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
}

.items.last {
    margin-bottom: 50px;
}

.img {
    height: 310px;
    background-color: red;  
    margin-bottom: 15px;      
}

.img.fst,
.img.fst img {
    max-width: 520px;
}

.img.scd,
.img.scd img {
    max-width: 414px;
}

.img.trd,
.img.trd img {
    max-width: 484px;
}

.content {
    display: flex;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    margin-bottom: 15px;
}

.button {
    width: 263px;
    height: 68px;

    background-color: #FFEFC5;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 45px;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    cursor: pointer;
}

.img.fst,
.img.fst img {
    max-width: 520px;
}

.img.scd,
.img.scd img {
    max-width: 414px;
}

.img.trd,
.img.trd img {
    max-width: 484px;
}

.main__btn {
    width: 592px;
    height: 68px;
    flex-shrink: 0;
    background-color: #FFEFC5;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-size: 40px;
    border-radius: 45px;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    cursor: pointer;
    margin-bottom: 200px;
    color: #000;
}

.nope {
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    text-align: center;
}