*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F6D79D;
}

.container {
    max-width: 1520px;
    margin: 0 auto;
}

.header {
    margin-bottom: 200px;
}

.title {
    color: #000;
    text-align: center;
    font-family: 'Tillana', serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 90px;
}

.item__block {
    max-width: 520px;
    margin-right: 100px;
}

.image {
    width: 520px;
    height: 310px;
}

.name {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.cart__delete {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    height: 68px;
    background-color: #FFEFC5;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: 0;
    border-radius: 45px;
    cursor: pointer;
    width: 100%;
}

.item__content {
    font-family: 'Inter', sans-serif;
    color: #000;
    font-size: 64px;
    font-weight: 700;
}

.minus,
.plus {
    display: inline-block;
    width: 43px;
    height: 43px;
    background-color: #FFBC40;
    border: 1px solid #000;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.minus:after,
.plus:after,
.plus:before {
    content: "";
    display: block;
    width: 24px;
    height: 4px;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.plus:before {
    width: 4px;
    height: 24px;
}

.sum {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 96px;
    font-weight: 700;
    margin: 50px 0;
    text-align: center;
}

.cart-buttons {
    display: flex;
    justify-content: center;
}

#clear {
    margin-right: 70px;
} 

.cart-buttons button {
    width: 561px;
    height: 124px;
    font-family: 'Inter', sans-serif;
    color: #000;
    font-size: 50px;
    font-weight: 700;
    background-color: #FFEFC5;
    border: 0;
    border-radius: 45px;
    box-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}