*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1520px;
    margin: 0 auto;
}

body {
    background: #F6D79D;
}


/* Section */
.section {
    margin-top: 155px;
    margin-bottom: 150px;
}


.title {
    color: #000;
    text-align: center;
    font-family: 'Tillana', serif;
    font-size: 76px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 50px;
}

.images {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.img {
    width: 749px;
    height: 440px;
}

.content p {
    color: #000;
    font-family: 'Tillana', serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 20px;
}